<head><style>
body{background:skyblue;}
#main_pgmm{margin-left:330px;background:white;width:790px;height:920px;position:absolute;margin-top:-10px;position:fixed;}
#main_pgmm #pgs{background:lightgray;height:900px;margin-top:-0px;width:200px;padding-top:25px;overflow-y:auto;padding-right:10px;}
#main_pgmm #image2{border-radius:50px;height:50px;width:50px; margin-left:35px;margin-top:20px;border:2px solid black;position:relative;}
#main_pgmm #ids{margin-left:35px;margin-top:20px;}
#main_pgmm li{list-style:none;}
#all{height:150px;width:130px;margin-left:0px;background:white;margin-top:10px;}
#main_pgmm #request{margin-left:35px;margin-top:-35px;background:blue;border:transparent;position:relative;}
#main_pgmm a li.active{background:violet}
#main_pgmm #main_pg411,#main_pg412,#main_pg413,#main_pg414,#main_pg415,#main_pg416,#main_pg417,#main_pg418,#main_pg419,#main_pg410{background:white;width:560px;height:900px;position:relative;}
#main_pgmm #main_pg421{scroll-behavior:smooth;height:920px;width:580;margin-top:-920px;overflow-y:scroll;margin-left:210px;}
#main_pgmm #profile{height:900px;width:580px;background:white;position:absolute;margin-top:-50px;margin-left:-100px;}
#main_pgmm #profile_details{margin-top:100px;margin-left:250px;}
#main_pgmm #profile_details input{margin-top:20px;width:300px;border:transparent;border-bottom:2px solid violet;}
#main_pgmm #line{border:1px solid violet;width:300px;background:violet;}
#main_pgmm #profile_image #profile_image{border:2px solid black;border-radius:100px;height:200px;width:200px;margin-top:150px;margin-left:280px;}
#main_pgmm #id{margin-left:290px;margin-top:30px;width:200px;}
#main_pgmm input{border:transparent;}
</style>
   <script>
    function colorchange(e){
    var el=document.querySelector(".active");
    if (el){
    el.classList.remove('active');}
    e.target.classList.add("active");}
    </script>
</head>
<body>
<div id="main_pg4">
<div id="main_pgmm">
<div id="pgs">
    <nav>
        <ul onclick="colorchange(event)">
          <a href="#main_pg411">
         <li >
             <div id="all">
                 <label for="image2">
                     <div id="mac1">
                         <img src="banner.jpg" height="96px" id="image2" width="96px">
                     </div>
                 </label>
                 <h6 id="ids">jhghsklsjhj</h6>
              </div>
         </li>
     </a><input type="submit" value="request" id="request">
          <a href="#main_pg412">
         <li>
             <div id="all">
                <label for="image2">
                   <div id="mac1">
                     <img src="banner.jpg" height="96px" id="image2" width="96px">
                   </div>
                </label>
                <h6 id="ids">jhghsklsjhj</h6>
             </div>
         </li>
     </a><input type="submit" value="request" id="request" >
          <a href="#main_pg413">
         <li>
             <div id="all">
                 <label for="image2">
                     <div id="mac1">
                        <img src="banner.jpg" height="96px" id="image2" width="96px">
                     </div>
                 </label>
                 <h6 id="ids">jhghsklsjhj</h6>
             </div>
         </li>
     </a><input type="submit" value="request" id="request">
          <a href="#main_pg414">
         <li>
             <div id="all">
                 <label for="image2">
                    <div id="mac1">
                       <img src="banner.jpg" height="96px" id="image2" width="96px">
                    </div>
                 </label>
                 <h6 id="ids">jhghsklsjhj</h6>
             </div>
         </li>
     </a><input type="submit" value="request" id="request">
          <a href="#main_pg415">
         <li>
             <div id="all">
                 <label for="image2">
                     <div id="mac1">
                        <img src="banner.jpg" height="96px" id="image2" width="96px">
                     </div>
                 </label>
                 <h6 id="ids">jhghsklsjhj</h6>
             </div>
         </li>
     </a><input type="submit" value="request" id="request">
          <a href="#main_pg416">
         <li>
             <div id="all">
                 <label for="image2">
                     <div id="mac1">
                        <img src="banner.jpg" height="96px" id="image2" width="96px">
                     </div>
                 </label>
                 <h6 id="ids">jhghsklsjhj</h6>
             </div>
         </li>
     </a><input type="submit" value="request" id="request">
          <a href="#main_pg417">
         <li>
             <div id="all">
                 <label for="image2">
                    <div id="mac1">
                        <img src="banner.jpg" height="96px" id="image2" width="96px">
                    </div>
                 </label>
                 <h6 id="ids">jhghsklsjhj</h6>
            </div>
         </li>
     </a><input type="submit" value="request" id="request">
          <a href="#main_pg418">
         <li>
             <div id="all">
                 <label for="image2">
                    <div id="mac1">
                        <img src="banner.jpg" height="96px" id="image2" width="96px">
                    </div>
                 </label>
                 <h6 id="ids">jhghsklsjhj</h6>
             </div>
         </li>
     </a><input type="submit" value="request" id="request">
          <a href="#main_pg419">
         <li>
             <div id="all">
                 <label for="image2">
                    <div id="mac1">
                        <img src="banner.jpg" height="96px" id="image2" width="96px">
                    </div>
                 </label>
                 <h6 id="ids">jhghsklsjhj</h6>
             </div>
         </li>
     </a><input type="submit" value="request" id="request">
          <a href="#main_pg410">
         <li>
             <div id="all">
                 <label for="image2">
                    <div id="mac1">
                        <img src="banner.jpg" height="96px" id="image2" width="96px">
                    </div>
                 </label>
                 <h6 id="ids">jhghsklsjhj</h6>
             </div>
         </li>
     </a><input type="submit" value="request" id="request">
        </ul>
    </nav>
</div>

     <div id="main_pg421">
     <div class="main_pg42" id="main_pg411">
   <div id="profile">
 <div id="profile_image">
  <label for="profile_images">
   <img src="banner.jpg" id="profile_image" ></label>
 <input type="subbmit" name="proimage" id="profile_images" style="display:none">
 <input type="submit" value="VADDE ADARSH" name="id" id="id">
 <div id="profile_details">
 <label for="profile_name">Name<br>
  <div id="line"></div>
 <input type="text" name="name" placeholder="Enter Your Name" id="profile_name">
  </label><br><br>
 <label for="profile_bod">Date of Birth<br>
    <div id="line"></div>
  <input type="text" name="bod" placeholder="DD/MM/YYYY"  id="profile_bod">
 </label><br><br>
 <label for="profile_address">Address<br>
    <div id="line"></div>
  <input type="text" name="address" placeholder="Address" id="profile_address">
 </label><br><br>
 <label for="profile_email">Email<br>
    <div id="line"></div>
  <input type="email" name="email" placeholder="example@gmail.com" id="profile_email">
 </label><br><br>
 <label for="profile_phone">phone Number<br>
    <div id="line"></div>
  <input type="text" name="number" placeholder="+91-XXXXX XXXXX" id="profile_phone">
 </label><br>
 </div>
</div>
   </div>
  </div>
    <div class="main_pg42" id="main_pg412">
   <div id="profile">
 <div id="profile_image">
  <label for="profile_images">
   <img src="banner.jpg" id="profile_image" ></label>
 <input type="subbmit" name="proimage" id="profile_images" style="display:none">
 <input type="submit" value="VADDE ADARSH" name="id" id="id">
 <div id="profile_details">
 <label for="profile_name">Name<br>
  <div id="line"></div>
 <input type="text" name="name" placeholder="Enter Your Name" id="profile_name">
  </label><br><br>
 <label for="profile_bod">Date of Birth<br>
    <div id="line"></div>
  <input type="text" name="bod" placeholder="DD/MM/YYYY"  id="profile_bod">
 </label><br><br>
 <label for="profile_address">Address<br>
    <div id="line"></div>
  <input type="text" name="address" placeholder="Address" id="profile_address">
 </label><br><br>
 <label for="profile_email">Email<br>
    <div id="line"></div>
  <input type="email" name="email" placeholder="example@gmail.com" id="profile_email">
 </label><br><br>
 <label for="profile_phone">phone Number<br>
    <div id="line"></div>
  <input type="text" name="number" placeholder="+91-XXXXX XXXXX" id="profile_phone">
 </label><br>
 </div>
</div>
   </div>
  </div>
    <div class="main_pg42" id="main_pg413">
   <div id="profile">
 <div id="profile_image">
  <label for="profile_images">
   <img src="banner.jpg" id="profile_image" ></label>
 <input type="subbmit" name="proimage" id="profile_images" style="display:none">
 <input type="submit" value="VADDE ADARSH" name="id" id="id">
 <div id="profile_details">
 <label for="profile_name">Name<br>
  <div id="line"></div>
 <input type="text" name="name" placeholder="Enter Your Name" id="profile_name">
  </label><br><br>
 <label for="profile_bod">Date of Birth<br>
    <div id="line"></div>
  <input type="text" name="bod" placeholder="DD/MM/YYYY"  id="profile_bod">
 </label><br><br>
 <label for="profile_address">Address<br>
    <div id="line"></div>
  <input type="text" name="address" placeholder="Address" id="profile_address">
 </label><br><br>
 <label for="profile_email">Email<br>
    <div id="line"></div>
  <input type="email" name="email" placeholder="example@gmail.com" id="profile_email">
 </label><br><br>
 <label for="profile_phone">phone Number<br>
    <div id="line"></div>
  <input type="text" name="number" placeholder="+91-XXXXX XXXXX" id="profile_phone">
 </label><br>
 </div>
</div>
   </div>
  </div>
    <div class="main_pg42" id="main_pg414">
   <div id="profile">
 <div id="profile_image">
  <label for="profile_images">
   <img src="banner.jpg" id="profile_image" ></label>
 <input type="subbmit" name="proimage" id="profile_images" style="display:none">
 <input type="submit" value="VADDE ADARSH" name="id" id="id">
 <div id="profile_details">
 <label for="profile_name">Name<br>
  <div id="line"></div>
 <input type="text" name="name" placeholder="Enter Your Name" id="profile_name">
  </label><br><br>
 <label for="profile_bod">Date of Birth<br>
    <div id="line"></div>
  <input type="text" name="bod" placeholder="DD/MM/YYYY"  id="profile_bod">
 </label><br><br>
 <label for="profile_address">Address<br>
    <div id="line"></div>
  <input type="text" name="address" placeholder="Address" id="profile_address">
 </label><br><br>
 <label for="profile_email">Email<br>
    <div id="line"></div>
  <input type="email" name="email" placeholder="example@gmail.com" id="profile_email">
 </label><br><br>
 <label for="profile_phone">phone Number<br>
    <div id="line"></div>
  <input type="text" name="number" placeholder="+91-XXXXX XXXXX" id="profile_phone">
 </label><br>
 </div>
</div>
   </div>
  </div>
    <div class="main_pg42" id="main_pg415">
   <div id="profile">
 <div id="profile_image">
  <label for="profile_images">
   <img src="banner.jpg" id="profile_image" ></label>
 <input type="subbmit" name="proimage" id="profile_images" style="display:none">
 <input type="submit" value="VADDE ADARSH" name="id" id="id">
 <div id="profile_details">
 <label for="profile_name">Name<br>
  <div id="line"></div>
 <input type="text" name="name" placeholder="Enter Your Name" id="profile_name">
  </label><br><br>
 <label for="profile_bod">Date of Birth<br>
    <div id="line"></div>
  <input type="text" name="bod" placeholder="DD/MM/YYYY"  id="profile_bod">
 </label><br><br>
 <label for="profile_address">Address<br>
    <div id="line"></div>
  <input type="text" name="address" placeholder="Address" id="profile_address">
 </label><br><br>
 <label for="profile_email">Email<br>
    <div id="line"></div>
  <input type="email" name="email" placeholder="example@gmail.com" id="profile_email">
 </label><br><br>
 <label for="profile_phone">phone Number<br>
    <div id="line"></div>
  <input type="text" name="number" placeholder="+91-XXXXX XXXXX" id="profile_phone">
 </label><br>
 </div>
</div>
   </div>
  </div>
    <div class="main_pg42" id="main_pg416">
   <div id="profile">
 <div id="profile_image">
  <label for="profile_images">
   <img src="banner.jpg" id="profile_image" ></label>
 <input type="subbmit" name="proimage" id="profile_images" style="display:none">
 <input type="submit" value="VADDE ADARSH" name="id" id="id">
 <div id="profile_details">
 <label for="profile_name">Name<br>
  <div id="line"></div>
 <input type="text" name="name" placeholder="Enter Your Name" id="profile_name">
  </label><br><br>
 <label for="profile_bod">Date of Birth<br>
    <div id="line"></div>
  <input type="text" name="bod" placeholder="DD/MM/YYYY"  id="profile_bod">
 </label><br><br>
 <label for="profile_address">Address<br>
    <div id="line"></div>
  <input type="text" name="address" placeholder="Address" id="profile_address">
 </label><br><br>
 <label for="profile_email">Email<br>
    <div id="line"></div>
  <input type="email" name="email" placeholder="example@gmail.com" id="profile_email">
 </label><br><br>
 <label for="profile_phone">phone Number<br>
    <div id="line"></div>
  <input type="text" name="number" placeholder="+91-XXXXX XXXXX" id="profile_phone">
 </label><br>
 </div>
</div>
   </div>
  </div>
    <div class="main_pg42" id="main_pg417">
   <div id="profile">
 <div id="profile_image">
  <label for="profile_images">
   <img src="banner.jpg" id="profile_image" ></label>
 <input type="subbmit" name="proimage" id="profile_images" style="display:none">
 <input type="submit" value="VADDE ADARSH" name="id" id="id">
 <div id="profile_details">
 <label for="profile_name">Name<br>
  <div id="line"></div>
 <input type="text" name="name" placeholder="Enter Your Name" id="profile_name">
  </label><br><br>
 <label for="profile_bod">Date of Birth<br>
    <div id="line"></div>
  <input type="text" name="bod" placeholder="DD/MM/YYYY"  id="profile_bod">
 </label><br><br>
 <label for="profile_address">Address<br>
    <div id="line"></div>
  <input type="text" name="address" placeholder="Address" id="profile_address">
 </label><br><br>
 <label for="profile_email">Email<br>
    <div id="line"></div>
  <input type="email" name="email" placeholder="example@gmail.com" id="profile_email">
 </label><br><br>
 <label for="profile_phone">phone Number<br>
    <div id="line"></div>
  <input type="text" name="number" placeholder="+91-XXXXX XXXXX" id="profile_phone">
 </label><br>
 </div>
</div>
   </div>
  </div>
    <div class="main_pg42" id="main_pg418">
   <div id="profile">
 <div id="profile_image">
  <label for="profile_images">
   <img src="banner.jpg" id="profile_image" ></label>
 <input type="subbmit" name="proimage" id="profile_images" style="display:none">
 <input type="submit" value="VADDE ADARSH" name="id" id="id">
 <div id="profile_details">
 <label for="profile_name">Name<br>
  <div id="line"></div>
 <input type="text" name="name" placeholder="Enter Your Name" id="profile_name">
  </label><br><br>
 <label for="profile_bod">Date of Birth<br>
    <div id="line"></div>
  <input type="text" name="bod" placeholder="DD/MM/YYYY"  id="profile_bod">
 </label><br><br>
 <label for="profile_address">Address<br>
    <div id="line"></div>
  <input type="text" name="address" placeholder="Address" id="profile_address">
 </label><br><br>
 <label for="profile_email">Email<br>
    <div id="line"></div>
  <input type="email" name="email" placeholder="example@gmail.com" id="profile_email">
 </label><br><br>
 <label for="profile_phone">phone Number<br>
    <div id="line"></div>
  <input type="text" name="number" placeholder="+91-XXXXX XXXXX" id="profile_phone">
 </label><br>
 </div>
</div>
   </div>
  </div>
    <div class="main_pg42" id="main_pg419">
   <div id="profile">
 <div id="profile_image">
  <label for="profile_images">
   <img src="banner.jpg" id="profile_image" ></label>
 <input type="subbmit" name="proimage" id="profile_images" style="display:none">
 <input type="submit" value="VADDE ADARSH" name="id" id="id">
 <div id="profile_details">
 <label for="profile_name">Name<br>
  <div id="line"></div>
 <input type="text" name="name" placeholder="Enter Your Name" id="profile_name">
  </label><br><br>
 <label for="profile_bod">Date of Birth<br>
    <div id="line"></div>
  <input type="text" name="bod" placeholder="DD/MM/YYYY"  id="profile_bod">
 </label><br><br>
 <label for="profile_address">Address<br>
    <div id="line"></div>
  <input type="text" name="address" placeholder="Address" id="profile_address">
 </label><br><br>
 <label for="profile_email">Email<br>
    <div id="line"></div>
  <input type="email" name="email" placeholder="example@gmail.com" id="profile_email">
 </label><br><br>
 <label for="profile_phone">phone Number<br>
    <div id="line"></div>
  <input type="text" name="number" placeholder="+91-XXXXX XXXXX" id="profile_phone">
 </label><br>
 </div>
</div>
   </div>
  </div>
    <div class="main_pg42" id="main_pg410">
   <div id="profile">
 <div id="profile_image">
  <label for="profile_images">
   <img src="banner.jpg" id="profile_image" ></label>
 <input type="subbmit" name="proimage" id="profile_images" style="display:none">
 <input type="submit" value="VADDE ADARSH" name="id" id="id">
 <div id="profile_details">
 <label for="profile_name">Name<br>
  <div id="line"></div>
 <input type="text" name="name" placeholder="Enter Your Name" id="profile_name">
  </label><br><br>
 <label for="profile_bod">Date of Birth<br>
    <div id="line"></div>
  <input type="text" name="bod" placeholder="DD/MM/YYYY"  id="profile_bod">
 </label><br><br>
 <label for="profile_address">Address<br>
    <div id="line"></div>
  <input type="text" name="address" placeholder="Address" id="profile_address">
 </label><br><br>
 <label for="profile_email">Email<br>
    <div id="line"></div>
  <input type="email" name="email" placeholder="example@gmail.com" id="profile_email">
 </label><br><br>
 <label for="profile_phone">phone Number<br>
    <div id="line"></div>
  <input type="text" name="number" placeholder="+91-XXXXX XXXXX" id="profile_phone">
 </label><br>
 </div>
</div>
   </div>
  </div>
    </div>
</div>
</div>
</body>